.libs
.deps
.*swp
.nautilus-metafile.xml
*.autosave
*.bak
*~
#*#
*.gladep
*.la
*.lo
*.o
*.class
*.pyc
*.plugin
Makefile
Makefile.in
config.h
config.log
config.status
libtool
*.gir
POTFILES
stamp-it
stamp-h1
